**/__pycache__/
**/.eggs
**/*.egg-info/
**/venv/
python_modules/
build
htmlcov/
.vscode/
.coverage
__init__.py
package-lock.json
template.json
.DS_Store
node_modules/
/dynamodb/shared-local-instance.db
lib/
.serverless